.login__wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background: #000;
  background-image: url('../images/static/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // &:before{
  //   position: absolute;
  //   content: '';
  //   top: 0 ;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background: #000;
  //   opacity: 0.5;
  // }
  &.converter {
    .login__box {
      flex: 0 0 380px;
    }
  }
}

.contact {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/static/bitcoin.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -100px;
}
.login__box,
.ui.modal.login__box {
  a {
    color: $orange;
  }
  flex: 0 0 360px;
  background: rgba(255, 255, 255, 0.2);
  z-index: 1;
  padding: 40px 25px;
  border-radius: 20px;
  margin: 20px;
  backdrop-filter: blur(40px);
  border: 2px solid transparent;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  background-clip: padding-box;

  .title,
  h3 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
  }
  .ui.button {
    margin-top: 30px;
  }
  .ui.form .field > label,
  p {
    color: #fff;
    font-weight: 500;
  }
  p {
    margin-bottom: 0.5rem;
  }
  @media (max-width: 575px) {
    flex: 0 0 400px;
  }
  @media (max-width: 375px) {
    flex: 0 0 300px;
  }
}
.login__info {
  text-align: center;
}
.login__logo {
  margin: 0 auto;
  max-width: 180px;
  margin-bottom: 10px;
  @media (max-width: 475px) {
    max-width: 80px;
  }
}
.has-indicator {
  position: relative;
  .showPass {
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}
.alt-link {
  color: #563d7c;
  cursor: pointer;
  box-shadow: 0 1px 0 #563d7c;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 2px;
  transition: all 200ms ease-in-out;
  &:hover {
    box-shadow: none;
  }
}

.register__box {
  min-width: 70%;
  flex: 0 0 400px;
  background-color: #eee;
  background-image: url('../images/exchange/white-bg.jpg');
  padding: 15px 10px;
  border-radius: 3px;
}

.signup__wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-image: url('../images/exchange/cashaa-bg2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.totp__input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.invalid_cred_msg {
  margin: 1rem auto;
  width: 70%;
}

.ui.modal.login__box {
  background: rgba(70, 70, 70, 0.2);
}

.ui.modal.login__box > .content {
  padding: 0;
  margin: 0;
  background: none;
  backdrop-filter: none;
}
// .ui.dimmer{
//   background-color;
// }
