.pagination {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin: 20px;
  .page-item {
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 12px 0;
    border-radius: 50%;
    margin: 0 20px;
    .page-link {
      color: #808191;
      &:hover {
        color: var(--orange);
      }
    }
    &.active {
      margin: 0px;
      background-color: var(--orange);
      .page-link {
        color: #fff;
      }
    }
  }
}

.icon__holder {
  background-color: #fff;
  text-align: center;
  padding: 11px 0;
  box-shadow: (0 0 10px 5px rgba(255, 135, 4, 0.1));
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 135, 4);
  cursor: pointer;
  i {
    margin: 0;
    color: #808191;
  }
  &:hover {
    transition: all 0.3s ease-in-out;
    box-shadow: (0 0 10px 10px rgba(255, 135, 4, 0.3));
  }
}
